body
  background-color #EAEAEA
  font-family 'NTR', sans-serif

a
  text-decoration none
  &:hover
    color #80B9E5
    cursor pointer

button
  height 38px

  &:hover
    cursor pointer

  &.s-small
    height 28px
  &.s-large
    height 48px
